<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Triângulo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Triângulo App</ion-title>
    </ion-toolbar>

  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label position="floating">Base</ion-label>
      <ion-input type="number" placeholder="Informe um valor para a base." name="base" [(ngModel)]="base" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Altura</ion-label>
      <ion-input type="number" placeholder="Informe um valor para a altura." name="altura" [(ngModel)]="altura"></ion-input>
    </ion-item>
    <ion-button color="secondary" (click)="calcularArea()">Calcular</ion-button><br><br>
    <ion-label>Resposta</ion-label>
    <ion-label>{{resultado}}</ion-label>

 

  <ion-card>
    <img alt="Silhouette of mountains" src="https://2.bp.blogspot.com/-fzHm_B1GEjU/UyM_SJpIDvI/AAAAAAAAhYI/-5N9umacZJw/s1600/EsquemaClasificacionTriangulos.jpg" height="450" width="600"/>
    <ion-card-header>
      <ion-card-title><strong>TODOS OS TIPOS DE TRIÂNGULOS</strong></ion-card-title>
      <ion-card-subtitle>Aqui você consegui calcular todos os lados do seu triangulo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>EM MENOS DE 1 SEGUNDO</p>
      <p>GRATUITAMENTE!</p>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
